<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.F6B1494C-57B8-46F5-956E-9399F0AB1371</string>
	<key>lightthemeuid</key>
	<string>theme.custom.6289F573-8F22-4BB4-BFB3-C1B01E2F6CB2</string>
</dict>
</plist>
