[submodule "emoji-cli"]
	path = .zsh/emoji-cli
	url = https://github.com/b4b4r07/emoji-cli
	branch = master
[submodule "zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = master
[submodule "zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
[submodule ".zsh/zsh-themes/powerlevel10k"]
	path = .zsh/zsh-themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
